<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Welcome to Portfolio
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>

        <!-- /.row -->
        <% @portfolios.each do |portfolio| %>
          <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3> <%= link_to portfolio.title, portfolio %></h3>
                <p><%= portfolio.description %></p>
          </div>
        <% end %>
        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; JJ Design 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>


          <!-- <td><%= portfolio.title %></td>
          <td><%= portfolio.description %></td>
          <td><%= portfolio.image_url %></td>
          <td><%= portfolio.category %></td>
          <td><%= portfolio.subcategory %></td>
          <td><%= link_to 'Show', portfolio %></td>
          <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
          <td><%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
<%= link_to 'New Portfolio', new_portfolio_path %> 
